Source: stupidgit
Section: devel
Priority: optional
Maintainer: Akos Gyimesi (gyim)
Build-Depends: debhelper (>=7.0.0), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev
XS-Python-Version: >=2.5
Standards-Version: 3.8.1

Package: stupidgit
Architecture: all
Homepage: http://github.com/gyim/stupidgit
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, git-core (>= 1.6.0), python-wxgtk2.8, meld (>= 1.2)
Description: A cross-platform git GUI with strong support for submodules
 StupidGit is a simple but powerful git GUI with minimalistic look
 and strong support for submodules. Its features include:
 - History graph with diff viewer
 - Index editor (stage/unstage changes)
 - Commit / amend commit
 - Easy-to-use switch tool that also switches submodule versions if asked
 - Merge, resolve conflicts with external merge tool (meld)
 - Cherry-pick, revert
